---
import BaseLayout from '../layouts/BaseLayout.astro';
import GildedEffect from '../components/ui/effects/GildedEffect.astro';
import Counter from '../components/islands/Counter.jsx';
---
<BaseLayout>
  <GildedEffect />
  <!-- 居中毛玻璃卡片 -->
  <main class="fixed inset-0 z-10 flex items-center justify-center">
    <div class="glass-card">
      <img src="/assets/PengLaiSiShaoXiao.png" alt="PengLaiSiShaoXiao Header Image" class="logo-img" />
      <Counter client:idle />
    </div>
  </main>
</BaseLayout>

