---
const { current } = Astro.props;
---

<nav class="py-4 bg-transparent">
  <div class="max-w-6xl mx-auto px-4 flex items-center justify-between">
    <a href="/" class="text-xl font-bold">Volleier</a>
    <ul class="flex gap-4">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/intro" class="hover:underline">Intro</a></li>
      <li><a href="/wiki" class="hover:underline">Wiki</a></li>
    </ul>
  </div>
</nav>
